.App {
  text-align: center !important;
}
.textLighter{
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-shadow: rgb(198, 10, 10) 2px 1px;
  background-color: rgba(98, 8, 86,0.9) ;
  border-radius: 4px 42px 4px 32px ;
  padding: 18px ;
  box-shadow: orangered 2px 8px;
  z-index: 0 !important;
  font-size: 18px;
  width: fit-content;
  margin: auto !important;
  margin-top: 10px !important;

}
header{
  font-size: medium;
  color: white;
  text-shadow: rgb(198, 10, 10) 2px 1px;
  background-color: rgba(22, 21, 21, 0.9) ;
  border-radius: 8px 52px ;
  padding: 4px ;
  box-shadow: orangered 2px 8px;
}
@media(min-width:576px){
  .App{
   width: fit-content !important;
    margin: auto;
   
  }
}